﻿<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage<dynamic>" %>
<!DOCTYPE html>
<html>
<head runat="server">
	<title>Listado de datos</title>
	<meta charset="UTF-8"/>
</head>
<body>
	<h1>Listado de datos.</h1>
	<table>
		<thead><th>Código</th><th>Nombre</th><th>A. paterno</th><th>A. materno</th></thead>
		<tbody>
			<%	
				var v = Model;
				foreach(var item in v)
				{
					Response.Write("<tr><td>"+item.codigo+"</td>");
					Response.Write("<td>"+item.nombre+"</td>");
					Response.Write("<td>"+item.apPaterno+"</td>");
					Response.Write("<td>"+item.apMaterno+"</tr>");		
				}
			%>
		<tbody>
	</table>
</body>
